<footer class="footer">
      <div class="container">
        <div class="text-center">
          <small><p class="copyright-txt">© Copyright 2017 <a href="https://ibuildapp.io/">iBuildApp Network, Pte Ltd</a><br></p></small>
        </div>
      </div>
</footer>